{% extends 'base.html' %}
{% block content %}
  <div class="container">
      <table class="table">
        <a style="margin-right: 12px;" class="btn btn-success" href="{% url 'cadastrar_validade' %}">Cadastrar validade</a>
    <thead>
      <tr>
        <th scope="col">Código EAN</th>
        <th scope="col">Descrição</th>
        <th scope="col">Categoria</th>
        <th scope="col">Marca</th>
        <th scope="col">Validade</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Dias para vencer</th>
      </tr>
    </thead>
    <tbody>
      
      {% for validade in validades %}
      <form action="{% url 'edita_validade' validade.id %}" method="POST">
        {% csrf_token %}
        <tr>
            <td>{{ validade.produto.codigo_barras }}</td>
            <td>{{ validade.produto.descricao }}</td>
            <td>{{ validade.produto.categoria.nome }}</td>
            <td>{{ validade.produto.marca.nome }}</td>
            <td>{{ validade.dt_validade | date:"d/m/y" }}</td>
            <td><input class="form-control" type="number" name="estoque" value="{{ validade.estoque }}"></td>
            <td>{% if validade.dias_p_vencer > 0 %} {{ validade.dias_p_vencer }} dias
                {% else %}
                <p class="text-bg-danger p-1" style="border-radius: 5px;">Vencido</p>
                {% endif %}
            </td>

            <td><input type="submit" class="btn btn-primary" value="Editar e salvar"></td>
            <td><a href="{% url 'deleta_validade' validade.id %}" class="btn btn-danger">Deletar</a></td>                     
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}