{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controle de validades</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">

  </head>
  <body style="padding: 30px 15px;" >
    <header>
      <ul>
        <li><a href="{% url 'carrega_inicio' %}">Inicio</a></li>
        <li><a href="{% url 'lista_validades' %}">Validades</a></li>
        <li><a href="{% url 'lista_produtos' %}">Produtos</a></li>
        <li><a href="{% url 'lista_categorias' %}">Categorias</a></li>
        <li><a href="{% url 'lista_marcas' %}">Marcas</a></li>
      </ul>
    </header>
    <br>
    <hr>
    
    <section class="inicio">
    {% block content %}{% endblock  %}
    </section>
  </body>
  <footer style="position: absolute; bottom: 0px; font-size:14px;">
    <p>Desenvolvido por Alessandro S. © copyright 2025</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>