{% extends "base.html" %}
{% block content %}
  <div class="container">
      <table class="table">
        <a style="margin-right: 12px;" class="btn btn-success" href="{% url 'cadastrar_produto' %}">Cadastrar produto</a>
        <a class="btn btn-danger" href="{% url 'deleta_todos_produtos' %}">Apagar tudo</a>
    <thead>
      <tr>
        <th scope="col">Código EAN</th>
        <th scope="col">Descrição</th>
        <th scope="col">Categoria</th>
        <th scope="col">Marca</th>
      </tr>
    </thead>
    <tbody>
      
      {% for produto in produtos %}
      <form action="{% url 'edita_produto' produto.id %}" method="POST">
        {% csrf_token %}
        <tr>
            <td><input class="form-control" type="type" name="codigo de barras" value="{{ produto.codigo_barras }}"></td>
            <td><input class="form-control" type="type" name="descricao" value="{{ produto.descricao }}"></td>
            <td><select class="input-group-text" name="categoria">
              {% for categoria in categorias %}
              <option value="{{ categoria.id }}" {% if categoria.id == produto.categoria.id %}selected{% endif %}>{{ categoria.nome }}</option>
              {% endfor %}
            </select></td>
            <td><select class="input-group-text" name="marca">
              {% for marca in marcas %}
              <option value="{{ marca.id }}" {% if marca.id == produto.marca.id %}selected{% endif %}>{{ marca.nome }}</option>
              {% endfor %}
            </select></td>
            <td><input type="submit" class="btn btn-primary" value="Editar e salvar"></td>
            <td><a href="{% url 'deleta_produto' produto.id %}" class="btn btn-danger">Deletar</a></td>                     
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}